---
layout: default
title: 블로그 | seolranlee
---

<div class="profile">
  <img
    src="https://avatars.githubusercontent.com/u/23238421?v=4"
    alt="seolranlee"
  />
  <p>
    생활의 전문가와 소비자를 연결하는 O2O 플랫폼 <strong>숨고</strong>를
    운영하는 <strong>브레이브 모바일</strong>의 프론트엔드 엔지니어로
    재직중입니다. 사용자가 원하는 지점에 도달하기까지의 프로세스 전반을 개선하는
    일에 관심이 많습니다.
  </p>
</div>
<div class="archive">
  <ul>
    {% for post in site.posts %}
    <li>
      <p class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.desc %}
        <span>{{post.desc }}</span>
        {% endif %}
      </p>
      <small>{{ post.date | date_to_string }}</small>
    </li>
    {% endfor %}
  </ul>
</div>
