main.about {
  section.bio {
  }
  section.career {
    .career-history {
      padding: 0;
      margin-bottom: 5rem;
      .career-company-info {
        padding-bottom: 2rem;
        .wrapper {
          h3, h4, p {
            margin: 0 0 .5rem;
          }
        }
      }
      .career-task-detail {
        > dl{
          margin: 0;
          &:not(:first-child) {
            margin-top: 3rem;
          }
          > dt { margin: 0; }
          > dd { 
            margin: 0;
            dl {
              * {
                display: list-item;
                list-style: circle;
              }
              dt {
                font-weight: normal;
                margin-bottom: 1rem;
              }
            }
          }
        }
        h3 {
          margin: 0 0 .5rem;
        }
        h4 {
          margin: 0 0 2rem;
        }
      }
    }
  }
  section.tech {
    
    dl, dt, dd {
      margin: 0;
      dt { 
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      dd {
        display: list-item;
        list-style: circle;
        line-height: 2;
        margin-left: 1rem;
      }
    }
    dl:not(:first-child) {
      margin-top: 2rem;
    }
  }
  @media (min-width: 768px) {
    section.career {
      .career-history {
        display: flex;
        gap: 0 1rem;
        .career-company-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: auto;
          width: 40%;
          .wrapper {
            position: sticky;
            top: 2rem;
          }
        }
        .career-task-detail {
          display: flex;
          flex-wrap: wrap;
          width: 60%;
        }
      }
    }
  }
}
