// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer);
  display: flex;
  justify-content: space-between;
  * {
    margin: 0;
    padding: 0;
  }
  .masthead-title {
    a {
      color: var(--pink)
    }
  }
  .nav-list {
    ul {
      display: flex;
      gap: 0 1rem;
      li {
        list-style: none;
      }
    }
  }
}